name: CD - Build & Push Docker Images

on:
  push:
    branches: [ "main" , "dev" ]

jobs:
  docker-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKER_USER }}/task-backend:latest ./backend

      - name: Build frontend image
        run: docker build -t ${{ secrets.DOCKER_USER }}/task-frontend:latest ./frontend

      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_USER }}/task-backend:latest

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USER }}/task-frontend:latest
